@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to bottom, #3E0D45, #040837);
    background-attachment: fixed; /* Optional: keeps gradient fixed during scrolling */
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
}

.particles-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
